# Dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# Testing
/coverage

# Next.js
/.next/
/out/

# Production
/build

# Misc
.DS_Store
*.pem

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local env files
.env*.local

# Upload script progress files
scripts/upload-progress.json
scripts/failed-tokens.json

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

.vercel
